body {
    background-color: #f8f9fa;
}
.container {
    margin: 50px auto;
}
.card {
    transition: transform 0.3s;
    border-radius: 10px; /* Закругление углов */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Устанавливаем курсор в виде руки */
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); /* Тень при наведении */
}
.card-title {
    color: #333; /* Цвет заголовка */
}
.card-text {
    color: #666; /* Цвет текста */
}
/* Классы для цветов карточек */
.card-color-0 {
    background-color: #e4e4e4; /* Белый */
}
.card-color-1 {
    background-color: #f8d7da; /* Красный */
}
.card-color-2 {
    background-color: #c3e6cb; /* Зеленый */
}
.card-color-3 {
    background-color: #bee5eb; /* Голубой */
}
.card-color-4 {
    background-color: #fff3cd; /* Желтый */
}
.card-color-5 {
    background-color: #aca6fe; /* Фиолетовый */
}
.card-color-6 {
    background-color: #B2F0E8;
}
.card-color-7 {
    background-color: #FFB6C1;
}
.card-color-8 {
    background-color: #FFD3B5;
}
.card-color-9 {
    background-color: #d8bfd8;
}
.card-color-10 {
    background-color: #BDE377;
}
.card-color-11 {
    background-color: #c8a2c8;
}
.card-color-12 {
    background-color: #e6e6fa;
}
/* Стили для кнопки "Подробнее" */
.more-info-btn {
    background-color: #FFFFFF;
    border-color: black;
    color: black;
}
.more-info-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.more-info-completed-btn {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
    color: white; 
}

.more-info-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.close:focus,
.close:active {
    outline: none;
    box-shadow: none;
}
.button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.button-container button {
    margin: 0 5px;
}

.user-info {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Увеличиваем значение альфа-канала до 0.4 */
    text-align: center;
}
.user-info h2 {
    margin-bottom: 10px;
}
.user-info p {
    margin: 0;
    font-size: 1.1em;
}