/* Custom CSS for centering input fields */
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Custom CSS for age label and value */
.age-group {
    display: flex;
    align-items: center;
    margin-top: 15px; /* Adjusted margin */
}
.age-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 0px;
}
#ageValue {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -2px; /* Move two pixels upward */
    margin-left: auto; /* Align to the right */
}
/* Custom CSS to align sex label to the left and radio buttons to the right */
.sex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px; /* Adjusted margin */
}
.sex-group .form-check {
    margin-left: 10px; /* Add spacing between radio buttons */
    margin-top: -6px; /* Move 6 pixels upward */
}
.sex-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
}